*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
}
.logo{
    padding-left: 150px;
}
.img-logo{
    width: 50px;
}
.iconsign{
    display: flex;
}
.iconsign a{
    color: rgb(0, 0, 0);
    margin-left: 60px;
    font-size: 17px;
    font-weight: 600;
    border: 3px solid transparent;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    transition: all .55s ease;
}
.iconsign a:hover{
    border: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(0, 0, 0);
    animation: slidernbw 5s linear infinite;
}
@keyframes slidernbw {
    to {
     background-position: 20vw;
    }
   }
   #menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 5% 5%;
}
.forum-login{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #ebebeb;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.container {
    position: relative;
    top: 30px;
    left: 395px;
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(230, 230, 230) 0%, rgb(197, 197, 197) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(0, 0, 0);
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #000000 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #0f0f0f;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: #000000;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(162, 171, 177) 0%, rgb(103, 106, 107) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0.8784313725) 0px 15px 10px -10px;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(0, 0, 0);
  }
  
  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(0, 0, 0, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
  }
  
  .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
  }
  
  .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .agreement a {
    text-decoration: none;
    color: #000000;
    font-size: 9px;
  }
  @media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .logo{
      padding-left: 170px;
  }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
  section{
      padding: 0 5.5%;
      transition: .2s;
  }
}
@media (max-width: 1195px){
  section{
      padding-left: 4px;
      transition: .2s;
  }
  .icons{
      display: none;
  }
}
@media (max-width: 990px){
  #menu-icon{
      display: block;
  }
  .logo{
    padding-left: 80px;
    transition: .2s;
}
  .container {
    top: 30px;
    left: 310px;
    transition: .2s;
  }
  .navlist{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 50vh;
      background: #313131c9;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 7px 0;
  }
  .iconsign{
      display: none;
  }
  .login1{
      display: block;
  }
}
@media (max-width: 680px){
  .container {
    top: 30px;
    left: 180px;
    transition: .2s;
  }
}