*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: black;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4%;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: grid;
}
.navlist a{
    display: flex;
    color: white;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
.shop-ico{
    width: 50px;
}

@keyframes slidernbw {
    to {
     background-position: 20vw;
    }
   }
   #menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.shop{
    height: 100%;
    width: 85.1%;
    min-height: 100vh;
    background-color: #646464;
    position: relative;
    display: grid;
    align-items: center;
    gap: 2rem;
    padding-left: 100px;
}
.loe1{
    height: 230px;
    width: 90%;
    background: none;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Menentukan lebar kolom dan mengisi ruang yang tersedia */
    grid-auto-rows: 250px; /* Menentukan tinggi baris */
    gap: 10px; /* Menentukan jarak antar elemen */
    align-items: center;
}
.box{
    height: 380px;
    width: 270px;
    background: white;
    position: relative;
    align-items: center;
}